.container{
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: solid 0.5rem var(--third-color);
    color: white;
    text-align: center;
    vertical-align: middle;
}

.emphasize{
    color: var(--secondary-color);
    font-size: 1.4rem;
}

.link{
    cursor: pointer;
}