@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import '../../global.css';

.nav {
  background: var(--bg-color);
}

.text-color {
  color: var(--text-color);
  text-decoration: none;
}

.text-color:hover {
    color: rgb(76,91,92);
  }


.brandName {
  font-family: "Nerko One", cursive;
}
