@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import '../../global.css';

.nav {
  background: var(--bg-color);
}

.text-color {
  color: var(--text-color);
  text-decoration: none;
}

.text-color:hover {
    color: rgb(76,91,92);
  }


.brandName {
  font-family: "Nerko One", cursive;
}

.cartButton{
  background-color: var(--third-color) !important;
  font-weight: bold;
}

.cartButton:hover{
  color: var(--secondary-color)!important;
}

.totalItem{
  background-color: var(--forth-color);
  color: white;
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
}