.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 15vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 0.5s;
}

.button {
  background-color: var(--secondary-color);
  color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 0 0.3rem
}

.button:hover {
  background-color: var(--third-color);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.orderButton{
  background-color: var(--fifth-color);
}

.smiley{
  font-size: 5rem;
  color: var(--bg-color);
}

.highlight{
  color: var(--forth-color)
}

.modifyButton{
  position:relative;
  color:white;
  font-weight: bold;
  background-color: var(--bg-color);
  border-radius: 50%;
  padding: 0.3rem 0.2rem;
  margin: 0 1rem;
  top: 0.4rem;
}


@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
