.imgBg {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s
}

.imgBg:hover {
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.0);
}


.card{
    height: 15rem;
    overflow: hidden;
    
}

.img{
    object-fit: cover;
    object-position: center;
    height: 100%;
}