.container {
  background-color: var(--bg-color);
  color: var(--text-color);
  --swiper-navigation-color: var(--secondary-color);
  --swiper-pagination-color: var(--secondary-color);
}


.heading{
  color: var(--secondary-color);
}