.button{
    background-color: var(--secondary-color)!important;
    border-color: rgb(126, 1, 1)!important;
}

.button:active, .button:hover, .button:focus{
    background-color: var(--secondary-color)!important;
    
}

.price{
    color: var(--forth-color);
}