.cardStyle{
    background-color: var(--secondary-color);
}

.button{
    background-color: var(--third-color);
    border-color: var(--forth-color);
}

.button:active, .button:hover, .button:focus{
    background-color: var(--forth-color)!important;
    
}

.price{
    color: var(--forth-color);
}