:root {
  --bg-color: #780116;
  --text-color: white;
  --secondary-color: #f7b538;
  --third-color: #db7c26;
  --forth-color: #d85723;
  --fifth-color: #c23f27;
}

/* develop latter */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #780116;
    --text-color: white;
    --secondary-color: #f7b538;
    --third-color: #db7c26;
    --forth-color: #d85723;
    --fifth-color: #c23f27;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
