

.mainNav {
  background-color: var(--bg-color);
}

.cartButton {
  background-color: var(--secondary-color);
}

.totalItem {
  background-color: var(--third-color);
  color: var(--text-color);
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  font-weight: bold;
}
